<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.vpclub.graduation.project.mapper.SpecidtyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="SpecidtyResultMap" type="cn.vpclub.graduation.project.entity.Specidty">
        <result column="specidtyid" property="specidtyid" />
        <result column="specidtycreated_time" property="specidtycreatedTime" />
        <result column="specidtycreated_by" property="specidtycreatedBy" />
        <result column="specidtyupdated_time" property="specidtyupdatedTime" />
        <result column="specidtyupdated_by" property="specidtyupdatedBy" />
        <result column="specidtydeleted" property="specidtydeleted" />
        <result column="specidtyname" property="specidtyname" />
    </resultMap>


    <insert id="add" parameterType="cn.vpclub.graduation.project.entity.Specidty">
        insert into specidty
        (specidtyid,
        specidtycreated_time,specidtycreated_by,
        specidtyupdated_time,specidtyupdated_by,
        specidtydeleted,specidtyname)
        value (#{specidtyid},#{specidtycreatedTime},
        #{specidtycreatedBy},#{specidtyupdatedTime},
        #{specidtyupdatedBy},#{specidtydeleted},#{specidtyname})
    </insert>


    <delete id="delete" parameterType="cn.vpclub.graduation.project.entity.Specidty">
        delete from specidty where specidtyid=#{specidtyid}
    </delete>

    <update id="update" parameterType="cn.vpclub.graduation.project.entity.Specidty">
        update specidty set specidtycreated_time=#{specidtycreatedTime},
        specidtycreated_by=#{specidtycreatedBy},
        specidtyupdated_time=#{specidtyupdatedTime},
        specidtyupdated_by=#{specidtyupdatedBy},
        specidtydeleted=#{specidtydeleted},
        specidtyname=#{specidtyname}
        where specidtyid=#{specidtyid}
    </update>

    <select id="query" parameterType="cn.vpclub.graduation.project.entity.Specidty" resultMap="SpecidtyResultMap">
        SELECT
        * FROM specidty WHERE specidtyid=#{specidtyid}
    </select>

    <select id="selectAll" parameterType="cn.vpclub.graduation.project.entity.Specidty" resultMap="SpecidtyResultMap">
        SELECT
        * FROM specidty
    </select>

</mapper>