<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.vpclub.graduation.project.mapper.TeamMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="TeamResultMap" type="cn.vpclub.graduation.project.entity.Team">
        <result column="teamid" property="teamid" />
        <result column="teamcreated_time" property="teamcreatedTime" />
        <result column="teamcreated_by" property="teamcreatedBy" />
        <result column="teamupdated_time" property="teamupdatedTime" />
        <result column="teamupdated_by" property="teamupdatedBy" />
        <result column="teamdeleted" property="teamdeleted" />
        <result column="teamname" property="teamname" />
    </resultMap>


    <insert id="add" parameterType="cn.vpclub.graduation.project.entity.Team">
        insert into team
        (teamid,
        teamcreated_time,teamcreated_by,
        teamupdated_time,teamupdated_by,
        teamdeleted,teamname)
        value (#{teamid},#{teamcreatedTime},
        #{teamcreatedBy},#{teamupdatedTime},
        #{teamupdatedBy},#{teamdeleted},#{teamname})
    </insert>


    <delete id="delete" parameterType="cn.vpclub.graduation.project.entity.Team">
        delete from team where teamid=#{teamid}
    </delete>

    <update id="update" parameterType="cn.vpclub.graduation.project.entity.Team">
        update team set
        teamupdated_time=#{teamupdatedTime},
        teamupdated_by=#{teamupdatedBy},
        teamname=#{teamname}
        where teamid=#{teamid}
    </update>

    <select id="query" parameterType="cn.vpclub.graduation.project.entity.Team" resultMap="TeamResultMap">
        SELECT
        * FROM team WHERE teamid=#{teamid}
    </select>

    <select id="selectAll" parameterType="cn.vpclub.graduation.project.entity.Team" resultMap="TeamResultMap">
        SELECT
        * FROM team
    </select>

</mapper>